<div class="container">
  <h1><%= @title %></h1>
  <p class="lead text-muted"><%= @description %></p>
  <% if can? :create, Course %>
    <%= link_to 'Create a New Course', new_course_path, class: 'btn btn-success mb-3' %>
  <% end %>

  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= course.title %></h5>
            <p class="text-muted">Created by: <%= course.user.email %></p>
            <a href="<%= course_path(course) %>" class="btn btn-primary">View Course</a>
            
            <% if user_signed_in? %>
              <% if current_user != course.user && !current_user.enrolled_courses.include?(course) %>
                <%= button_to 'Enroll', enroll_course_path(course), method: :post, class: 'btn btn-success' %>
              <% elsif current_user.enrolled_courses.include?(course) %>
                <span class="badge badge-success">Enrolled</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

